body	{ 	margin-left: 10%;
			margin-right: 10%;
			margin-top: 10%;
			font-size: 1em;
			font-family: sans-serif;
			font-style: italic;
				}
				
h1	{	padding: .3em;
		background-color: red;
		text-align: center;
		box-shadow: 5px 5px 20px #888888;
		color: white;
		}
		
div	{text-decoration: underline;}

h2 	{	font-size: 1em;
		margin-left: 5%;
		}
		
footer	{padding-top:40em;
		}